.DS_Store
AviSynthPlus-3.7.3.tar.gz
SDL-release-2.26.5.tar.gz
build/
fdk-aac-2.0.2.tar.gz
fdk-aac-master.zip
fdk-aac-master/
ffmpeg-4.4.4.tar.xz
ffmpeg-5.1.2.tar.xz
ffmpeg-5.1.2/configure.help
ffmpeg-5.1.2/tags
ffmpeg-5.1.4.tar.xz
ffmpeg-6.1.tar.xz
ffmpeg.help
ffmpegStatic/
libmysofa-1.3.2.tar.gz
speex-1.2.1.tar.gz
test/
vo-amrwbenc-0.1.3.tar.gz
xavs-code-r55-trunk.zip
zvbi-0.2.35.tar.bz2
